/* @font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/roboto/Roboto-Bold.ttf");
} */

#footer {
  display: grid;
  background-color: #131f22;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  height: 150px;
  font-family: Roboto-Regular;
}

#topRow {
  grid-column-span: 1 / 3;
  grid-row-start: 1;
  display: inline-block;
  padding-top: 30px;
  font-weight: 700;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#bottomRow {
  grid-column-span: 1 / 3;
  grid-row-start: 3;
  font-size: .625em;
  font-weight: 700;
  padding-bottom: 30px;
}

a {
  color: white;
}

#about {
  padding: 6px;
}

#where {
  padding: 6px;
}

#support {
  padding: 6px;
}

#terms {
  padding: 6px;
}

#privacy {
  padding: 6px;
}

#cookie {
  padding: 6px;
}

#socialMedia {
  grid-column-start: 5;
  grid-row-start: 3;
}
#stalk {
  padding-right: 15px;
}
#facebook {
  padding: 5px;
}

#twitter {
  padding: 5px;
}

#youtube {
  padding: 5px;
}

#instagram{
  padding: 5px;
}

#snapchat {
  padding: 5px;
}

#socialMedia {
  text-align: right;
  font-family: Roboto-Regular,Helvetica,sans-serif;
  font-weight: 700;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #86a6b1;
  padding: 5px;
  margin-right: 10px;
  margin-top: -65px;
}