
<div id="footer" class="container-fluid">
  <div id="topRow">
    <div id="about">ABOUT</div>
    <div id="where">WHERE TO WATCH</div>
    <div id="support">SUPPORT</div>
  </div>
  <div id="socialMedia">STALK US ON  <img id="facebook" src="assets/img/facebook.png" width="30px">  <img id="twitter" src="assets/img/twitter.png" width="30px">  <img id="youtube" src="assets/img/youtube.png" width="30px">   <img id="instagram" src="assets/img/instagram.png" width="30px">    <img id="snapchat" src="assets/img/snapchat.png" width="30px">
  </div>
  <div id="bottomRow">
    <div id="terms">Terms Of Use</div>
    <div id="privacy">Privacy Policy</div>
    <div id="cookies">Cookie Policy</div>
  </div>
</div>