
<div id="footer" class="container-fluid">
  <div id="topRow">
    <a id="about" href="">ABOUT</p> <p id="where">WHERE TO WATCH</p> <p id="support">SUPPORT</p>
  </div>
  
  <div id="terms">Terms Of Use</div>
  <div id="privacy">Privacy Policy</div>
  <div id="cookies">Cookie Policy</div>
  <div id="socialMedia">STALK US ON  <img src="assets/img/facebook.png" width="20px">  <img src="assets/img/twitter.png" width="20px">  <img src="assets/img/youtube.png" width="20px">  <img src="assets/img/instagram.png" width="20px"> <img src="assets/img/snapchat.png" width="20px"> </div>
</div>