
<div id="footer" class="container-fluid">
  <div id="topRow">
    <a routerLink="about">ABOUT</a>
    <a id="where" href="">WHERE TO WATCH</a>
    <a id="support" href="">SUPPORT</a>
  </div>
  <div id="socialMedia">STALK US ON  <a href="https://www.facebook.com/"><img id="facebook" src="assets/img/facebook.png" width="30px"></a> 
    <a href="https://www.twitter.com/"><img id="twitter" src="assets/img/twitter.png" width="30px"></a>
    <a href="https://www.youtube.com/"><img id="youtube" src="assets/img/youtube.png" width="30px"></a>
    <a href="https://www.instagram.com/"><img id="instagram" src="assets/img/instagram.png" width="30px"></a>
    <a href="https://www.snapchat.com/"><img id="snapchat" src="assets/img/snapchat.png" width="30px"></a>
  </div>
  <div id="bottomRow">
    <a id="terms" href="">Terms Of Use</a>
    <a id="privacy" href="">Privacy Policy</a>
    <a id="cookies" href="">Cookie Policy</a>
  </div>
</div>
