/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: black; opacity: .95;
  position: fixed;
  top: 0;
  width: 100%; 
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over
.navbar a:hover {
  background: #ddd;
  color: black;
} */

/* Main content */
/* .main {
  margin-top: 30px;  */
  /* Add a top margin to avoid content overlay */
/* } */

#loginNavbar {
  font-weight: 700;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Roboto-Regular;
  opacity: 1;
  color: white;
  text-shadow: 0 2px 2px rgba(0,0,0,.6);
  -webkit-transition: .2s color ease-in-out,.2s opacity ease-in-out;
  transition: .2s color ease-in-out,.2s opacity ease-in-out;
  text-align: right;
}

#navButton {
  margin-left: 2em;
  padding: 0 1.5em;
  height: 34px;
  font-family: Roboto-Regular;
  font-weight: 700;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}

/* .shake:hover {
  display: inline-block;
  transform-origin: center center;
} */