@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/roboto/Roboto-Regular.ttf");
}
        
body {
  background-color: #131f22;
  background-image: url("../assets/img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}

