<html>

<head>

</head>

<body>
  <app-navbar></app-navbar>

  <div id="pageTitles">
    <h1 id="pageTitle">Horror. Thrillers. Suspense.</h1>
    <h2 id="pageSubtitle">Plans starting at $4.75/month. Watch anywhere, cancel anytime.</h2>
    <button type="button" id="joinFreeButton">Join free for 7 days</button>
  </div>
  <div id="sellingDescription"><img src="assets/img/sellingDescription.png">
  </div>
  <div id="featuredIn"><img src="assets/img/featuredIn.png">
  </div>
  <div><img id="offer" src="assets/img/offer.png"></div>


  <app-footer></app-footer>

</body>

</html>
