@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/roboto/Roboto-Regular.ttf");
}
        
body {
  background-color: rgb(35, 41, 53);
  margin: 0px;
}


/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: black; opacity: .95;
  position: fixed;
  top: 0;
  width: 100%; 
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over
.navbar a:hover {
  background: #ddd;
  color: black;
} */

/* Main content */
/* .main {
  margin-top: 30px;  */
  /* Add a top margin to avoid content overlay */
/* } */

#loginNavbar {
  font-weight: 700;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 1;
  color: white;
  text-shadow: 0 2px 2px rgba(0,0,0,.6);
  -webkit-transition: .2s color ease-in-out,.2s opacity ease-in-out;
  transition: .2s color ease-in-out,.2s opacity ease-in-out;
  display: flex;
  justify-content: right;
}

#button {
  margin-left: 2em;
  padding: 0 1.5em;
  height: 34px;
  font-family: Roboto,Helvetica,sans-serif;
  font-weight: 700;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}

/* .shake:hover {
  display: inline-block;
  transform-origin: center center;
} */


#pageTitles {
  margin-left: 30px;
  padding-top: 200px;
  color: white;
  margin-top: 200px;
  font-family: Roboto;
}

#pageTitle {
  font-size: 3.75em;
  font-weight: 900;
  font-family: Roboto-Bold;
}

#pageSubtitle {
  font-size: 1.375em;
  font-family: Roboto-Regular;
  padding-bottom: 10px;
}

#joinFreeButton {
  background-color: #c80000;
  color: white;
  height: 58px;
  border-radius: 28px;
  padding: 0 1.25em;
  font-size: 1.375em;
  border-color: #c80000;
  font-family: Roboto-Regular;
}

#scroll {
  margin-top: 500px;
}