<div id="background">
<div id="pageTitles">
    <h1 id="pageTitle">Horror. Thrillers. Suspense.</h1>
    <h2 id="pageSubtitle">Plans starting at $4.75/month. Watch anywhere, cancel anytime.</h2>
    <button type="button" id="joinFreeButton">Join free for 7 days</button>
  </div>
  <div id="sellingDescription"><img src="assets/img/description.png" width="100%">
  </div>
<div id="featuredIn"><img src="assets/img/featuredIn.png" width="100%">
  </div>
  <div><img id="offer" src="assets/img/offerWithButtons.png" width="100%"></div> 
</div>